.searchContainer{
  display: flex;
  flex-wrap: nowrap;

  button{
    border: none;
    cursor: pointer;
  }
}

.search {
  border-radius: 4px;
  outline: none;
  border: none;
  padding: .5rem 1rem;
  background-color: #F5F5F5;

  font-weight: 400;
}

@media (max-width: 370px) {
  .search {
    padding: .5rem;
    width: 160px;
    font-size: 12px;
  }
}