.wrapper {
  padding-bottom: 8.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__wrapper {
  padding-left: 130px;
}

.input {
  margin-bottom: 2.5rem;
}

.login__title {
  font-size: 2.2rem;
  letter-spacing: 0.2px;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.login__subtitle {
  font-size: 1rem;
  margin-bottom: 3rem;
  font-weight: 400;
}
