.cartSection {
  padding: 2.5rem 1.5rem;
  display: flex;
  align-items: center;

  & > div {
    display: flex;
    width: calc(25% - 4rem);

    p {
      width: 100%;
      align-self: center;
      text-align: left !important;
    }
  }
  p {
    font-weight: 600;
    width: 25%;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.image {
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
