.cartSection {
  padding: 2.5rem 1.5rem;
  display: flex;
  align-items: center;

  p {
    font-weight: 600;
    width: 25%;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}
